<div data-ng-include="'partials/message.html'"></div>
<div class="scenario">
    <div class="ship" data-ng-repeat="ship in ships" data-type="{{ ship.name }}">
        <img class="image bleed block" id="a{{ ship.id }}"  data-ng-src="{{ ship.image }}"/>
        <div class="info block">
            <div class="name green">{{ ship.name }}</div>
            <div class="hitpoints">HIT POINTS: {{ ship.length }}</div>
            <div class="count" id="inventory">INVENTORY: {{ ship.inventory }}</div>
        </div>
        <div class="clear"></div>
    </div>       
    <div class="hint green">{{ hint }}</div>
    <div class="actionbar">
        <div class="block square actionClick" id="left" data-ng-click="Left()"></div>
        <div class="block square actionClick" id="up" data-ng-click="Up()"></div>
        <div class="block square actionClick" id="fire" data-ng-click="Fire()"></div>
        <div class="block square actionClick" id="down" data-ng-click="Down()"></div>
        <div class="block square actionClick" id="right" data-ng-click="Right()"></div>
    </div>
</div>
<script type="text/javascript">
    (function () {
        var timer = null;
        $(".actionClick").on("mouseenter", function (e) {
            clearTimeout(timer);
            timer = setTimeout(function () {
                $(e.target).trigger("click");
            }, 2000);
        });

        $(".actionClick").on("mouseleave", function (e) {
            clearTimeout(timer);
        });
    })();
</script>