body {
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-style: italic;
}

#floor-container {
    min-height: 1700px;
    min-width: 1700px
}

#screen {
    min-height: 1300px;
    min-width: 1700px;
}

#wrapper {
    min-width: 3200px;
}