body {
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-style: italic;
}

#floor {
    min-height: 1700px;
    min-width: 1300px;
}

#screen {
    /*position: relative;*/
    min-height: 1300px;
    min-width: 1700px;
    float: right;
}

#wrapper {
    min-width: 3200px;
}