#screen-container {
    min-height: 1200px;
    min-width: 1600px;
    background-color: skyblue;
    z-index: -1;
}

#x-axis {
    height: 200px;
    width: 100%;
    background-color: red;
}

#y-axis {
    height: 1000px;
    width: 200px;
    background-color: yellow;
}

#grid {
    height: 1000px;
    width: 1500px;
    margin-top: 200px;
    float: right;
}

h1 {
    margin-left: 200px;
    margin-top: -100px;
    font-family: 'Segoe UI';
    font-size: 150px;
    position: absolute;
}

h2 {
    margin-top: -130px;
    font-family: 'Segoe UI';
    font-size: 165px;
    position: absolute;
}